<div id="<%= dom_id item %>">
  <p>
    <strong>Item:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Location City Current Weather:</strong> <br>
    <%= item.city.weather_data['weather'].first["main"] %> <br>
    <%= item.city.weather_data['main']["temp"] %> F
  </p>

  <p>
    <strong>Total Items:</strong>
    <%= item.quantity %>
  </p>



</div>