<p style="color: green"><%= notice %></p>

<h3 class="header">Inventorable</h3>
<div id="items">
  <table id="customers">
    <tr>
      <th>Item Name</th>
      <th>Description</th>
      <th>City</th>
      <th>Weather Description</th>
      <th>links</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= link_to item.city.name, city_path(item) %></td>
        <td>  
          <%= item.city.weather_data['weather'].first["main"] %> 
          <%= item.city.weather_data['main']["temp"] %> F
        </td>
        <td> <div class="small"> <%= link_to "Show", item %> || <%= link_to "Edit", edit_item_path(item) %> || <%= link_to "Destroy", item_path(item), :method => :delete  %> </div> </td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= link_to "New item", new_item_path %>
