<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <table id="customers">
    <tr>
      <th>Item Name</th>
      <th>Description</th>
      <th>City</th>
      <th>links</th>
    </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= link_to item.city.name, city_path(item) %></td>
      <td><%= link_to "Show this item", item %></td>
    </tr>
    <p>
   
    </p>
  <% end %>
    </table>
</div>

<%= link_to "New item", new_item_path %>
