<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= city.description %>
  </p>

  <p>
    <strong>Weather:</strong>
    <%= city.weather %> <br>
    <%= city.latitude %>
  </p>

</div>
<br>
