<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <nav class="">
        <div class="">
         <h5><%= link_to "View Items", items_path %></h5> 
         <h5> <%= link_to "View Cities", cities_path %></h5> 
         <h5> <%= link_to "New item", new_item_path %></h5> 
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
