<!DOCTYPE html>
<html>
  <head>
    <title>RailsRuby3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container">
      <nav class="">
        <div class="">
         <Span class="navbar"><%= link_to "View Items", items_path %></Span> 
         <Span class="navbar"> <%= link_to "View Cities", cities_path %></Span> 
         <Span class="navbar"> <%= link_to "Add New Items", new_item_path %></Span>
         <Span class="navbar"> <%= link_to "Add New Cities", new_city_path %></Span>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
